.courses {
    margin: 15% 0 0 0;
  }
  
  .courses .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .courses .box-container .box {
    flex: 1 1 30rem;
    border-radius: 2rem;
    background: #fff;
    height: 100%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  
  .courses .box-container .box img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  
  .courses .box-container .box .content {
    padding: 2.5rem;
    text-align: left;
  }
  
  .courses .box-container .box .content h3 {
    font-size: 1.5rem;
    color: rgb(187, 185, 185);
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
  }
  
  .courses .box-container .box .content h2 {
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .courses .box-container .box .content p {
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(82, 82, 82);
  }
  
  .courses .box-container .box .content .button{
      margin-top: 1rem;
      padding: 1.2rem 2rem;
      display: inline-block;
      font-size: 2rem;
      background: #c9d1f0;
      color: rgba(0, 0, 0, 0.801);
      border-radius: 5rem;
      font-weight: 500;
  }
  
  .courses .box-container .box .content .button:hover{
    box-shadow: 0 .5rem 1rem 0 #c9d1f0;
    background: none;
  }











  
@media (max-width: 1050px){

    .courses .box-container{
      gap: 3rem;
    }
  
    .courses .box-container .box{
      flex: 1 1 100rem;
    }
  }